.form
{
    margin: 10px auto;
    width: 575px;
    padding:10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px;
    text-align:center;
}
label {
    font-size: 14px;
    color: #333;
    height: 20px;
    width: 92px;
    margin-top: 17px;
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float:left;
}
input {
    border: 1px solid #000;
    margin-top: 10px;
    float:left;
    text-align: left;
    border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;
}
.name, .street{width:73%}
.zip, .sate, .city{width:10%}